
    .container {
      margin-top: 50px;
    }
  
    .section-title {
      margin-bottom: 20px;
    }
  
    .user-details-container {
      padding: 20px;
      text-align: center;
    }
  
  
  
    .full-width {
      width: 100%;
      margin-bottom: 10px;
    }
  
    .error-message {
      font-size: 12px;
    }
  
  
    .submit-btn {
      margin-top: 30px;
    }
  
